{% extends "layouts/auth.njk" %}

{% set title = "Create new password"  %}

{% block pageTitle %}
{{ "Error: " if errors.length }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ title }}
      </h1>

      <p class="govuk-body">Enter a new password for your DfE Sign-in account.</p>

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

        {% call govukFieldset({}) %}

          {{ govukInput({
            id: "password",
            name: "password",
            type: "password",
            label: {
              text: "Password",
              classes: "govuk-label--s"
            },
            hint: {
              text: "Your password must be at least 12 characters"
            },
            errorMessage: errors | getErrorMessage("password"),
            value: data.password,
            classes: "govuk-!-width-two-thirds"
          }) }}

            {{ govukInput({
              id: "confirmPassword",
              name: "confirmPassword",
              type: "password",
              label: {
                text: "Confirm password",
                classes: "govuk-label--s"
              },
              errorMessage: errors | getErrorMessage("confirmPassword"),
              value: data.password,
              classes: "govuk-!-width-two-thirds"
            }) }}

        {% endcall %}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

      {% include "./_help.njk" %}

    </div>
  </div>
{% endblock %}
