{% extends "layouts/main.njk" %}

{% set hidePrimaryNavigation = true %}
{% set hideOrganisationSwitcher = true %}

{#-----PAGE TITLE-----#}
{% set pageTitle = "Challenges Managing ITT" %}

{#-----BACK LINK-----#}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/data-report/secondarysubjectsdifficulty"
  }) }}
{% endblock %}

{#-----MAIN CONTENT BELOW-----#}
{% block content %}

{#-----CREATE GRID TO HOLD OUR CONTENT IN 2/3 OF THE PAGE-----#}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {#-----HEADER TEXT-----
    <h1 class="govuk-heading-xl">
      Question Title
    </h1>
    #}

    {#-----EXPLANATORY TEXT FOR OUR QUESTION-----
    <p class="govuk-body">
    TEXT HERE
    </p>
    #}

    {#-----CHECKBOXES OF REASONS FOR NON PARTICIPATION-----#}
    {{ govukCheckboxes({
      name: "ittmanagementchallenges",
      fieldset: {
        legend: {
          text: "What are the biggest challenges for you in managing ITT?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: "Select all that apply."
      },
      items: [
        {
          value: "school-awareness",
          text: "School awareness"
        },
        {
          value: "funding",
          text: "Funding"
        },
        {
          value: "mentor-availability",
          text: "Mentor availability"
        },
        {
          value: "school-capacity",
          text: "School capacity"
        },
        {
          value: "ofsted-rating",
          text: "OFSTED rating"
        },
        {
          value: "geography",
          text: "Geography"
        },
        {
          value: "other",
          text: "Other"
        }
      ]
    }) }}

    {#-----TEXTAREA IF OTHER SELECTED-----#}
    {{ govukTextarea({
      name: "nonparticipation-other-detail",
      id: "nonparticipation-other-detail",
      label: {
        text: "If you selected other please provide more detail",
        classes: "govuk-label--m",
        isPageHeading: false
      },
      hint: {
        text: ""
      }
    }) }}

    {#-----CONTINUE BUTTON-----#}
    {{ govukButton({
      text: "Continue",
      href: "/data-report/reasonnotparticipate"
    }) }}

  </div>
</div>

{% endblock %}
