{% extends "layouts/main.njk" %}

{% set hidePrimaryNavigation = true %}
{% set hideOrganisationSwitcher = true %}

{% set pageTitle = "Question Title" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/data-report/"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukRadios({
      name: "enough-mentors",
      fieldset: {
        legend: {
          text: "Do you have enough ITT Mentors in your network?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "yes",
          text: "Yes, we have enough"
        },
        {
          value: "need-more",
          text: "We need more"
        },
        {
          value: "spare-capacity",
          text: "We have spare capacity"
        },
        {
          value: "dontknow",
          text: "Don't know"
        }
      ]
    }) }}
    {{ govukButton({
      text: "Continue",
      href: "/data-report/"
    }) }}

  </div>
</div>

{% endblock %}
