{% extends "layouts/main.njk" %}

{% set hidePrimaryNavigation = true %}
{% set hideOrganisationSwitcher = true %}

{% set title = "Which Primary subjects are hard to find placements for?" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/data-report/surplus"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/data-report/secondary-subjects-difficulty" method="post" accept-charset="utf-8" novalidate>

    {{ govukCheckboxes({
      idPrefix: "datareport",
        name: "datareport[difficulty][primarySubjects]",
      fieldset: {
        legend: {
          text: "Which Primary subjects are hard to find placements for?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: "Select all that apply"
      },
      items: subjectOptions
    }) }}
    {{ govukButton({
      text: "Continue",
      href: "/data-report/secondary-subjects-difficulty"
    }) }}

    </form>

    <p class="govuk-body">
      <a class="govuk-link" href="/data-report">Cancel</a>
    </p>

  </div>
</div>

{% endblock %}
