{% extends "layouts/main.njk" %}

{% set hidePrimaryNavigation = true %}
{% set hideOrganisationSwitcher = true %}

{% set pageTitle = "Question Title" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/data-report/challenges-managing-itt"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/data-report/confirmation" method="post" accept-charset="utf-8" novalidate>

      {{ govukCheckboxes({
        name: "nonparticipation",
        fieldset: {
          legend: {
            text: "What are the biggest barriers to providing ITT placements for schools in your area?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "Select all that apply."
        },
        items: [
          {
            value: "funding",
            text: "Funding"
          },
          {
            value: "mentor-availability",
            text: "Mentor availability"
          },
          {
            value: "school-capacity",
            text: "School capacity"
          },
          {
            value: "ofsted-rating",
            text: "OFSTED rating"
          },
          {
            value: "geography",
            text: "Geographic area"
          },
          {
            value: "other",
            text: "Other"
          }
        ]
      }) }}

      {{ govukTextarea({
        name: "nonparticipation-other-detail",
        id: "nonparticipation-other-detail",
        label: {
          text: "If you selected other please provide more detail",
          classes: "govuk-label--m",
          isPageHeading: false
        }
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

    <p class="govuk-body">
      <a class="govuk-link" href="/data-report">Cancel</a>
    </p>

  </div>
</div>

{% endblock %}
