{% extends "layouts/main.njk" %}

{% set hidePrimaryNavigation = true %}
{% set hideOrganisationSwitcher = true %}

{% set title = "What subjects does this shortage apply to?" %}
{# {% set caption = "Shortages" %} #}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/data-report/shortage-question"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% set headingHtml %}
      {% include "_includes/page-heading-legend.njk" %}
    {% endset %}

    <form action="/data-report/shortage" method="post" accept-charset="utf-8" novalidate>

      {{ govukCheckboxes({
        idPrefix: "datareport",
        name: "datareport[shortage][subjects][]",
        fieldset: {
          legend: {
            html: headingHtml,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "Select all that apply"
        },
        items: subjectOptions
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

    <p class="govuk-body">
      <a class="govuk-link" href="/data-report">Cancel</a>
    </p>

  </div>
</div>

{% endblock %}
