{% extends "layouts/main.njk" %}

{% set hidePrimaryNavigation = true %}
{% set hideOrganisationSwitcher = true %}

{% set title = "You told us that you have the following shortages" %}
{# {% set caption = "Shortages" %} #}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/data-report/shortage-subject"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "_includes/page-heading.njk" %}

    <form action="/data-report/surplus-question" method="post" accept-charset="utf-8" novalidate>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Mentors"
            },
            value: {
              html: "History<br>Geography"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "mentor shortages"
                }
              ]
            }
          },
          {
            key: {
              text: "Trainees"
            },
            value: {
              html: "Mathematics<br>Physics"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "trainee shortages"
                }
              ]
            }
          }
        ]
      }) }}

      {# {{ govukTable({
        caption: "Shortages",
        captionClasses: "govuk-visually-hidden",
        firstCellIsHeader: true,
        head: [
          {
            text: "Item"
          },
          {
            text: "Subject"
          }
        ],
        rows: [
          [
            {
              text: "Mentor"
            },
            {
              text: "History"
            }
          ],
          [
            {
              text: "Mentor"
            },
            {
              text: "Geography"
            }
          ],
                  [
            {
              text: "Trainee"
            },
            {
              text: "Mathematics"
            }
          ],
          [
            {
              text: "Trainee"
            },
            {
              text: "Physics"
            }
          ]
        ]
      }) }} #}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

    <p class="govuk-body">
      <a class="govuk-link" href="/data-report">Cancel</a>
    </p>

  </div>
</div>

{% endblock %}
