{% extends "layouts/main.njk" %}

{% set hidePrimaryNavigation = true %}
{% set hideOrganisationSwitcher = true %}

{% set title = "Do you have a shortage of any resources?" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/data-report/"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "_includes/page-heading.njk" %}

    <p class="govuk-hint">
      For example too many history teachers, or not enough physics mentors.
    </p>

    <form action="/data-report/shortage-subject" method="post" accept-charset="utf-8" novalidate>

      {{ govukRadios({
        name: "template-question",
        fieldset: {
          legend: {
            text: "We have a shortage of",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "trainees",
            text: "Trainees"
          },
          {
            value: "mentors",
            text: "Mentors"
          },
          {
            value: "none",
            text: "None"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

    <p class="govuk-body">
      <a class="govuk-link" href="/data-report">Cancel</a>
    </p>

  </div>
</div>

{% endblock %}
