{% extends "layouts/main.njk" %}

{#-----IMPORT FORM COMPONENTS WE NEED-----#}
{% from "govuk/components/table/macro.njk" import govukTable %}

{#-----PAGE TITLE-----#}
{% set pageTitle = "Shortage" %}

{#-----BACK LINK-----#}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/data-report/shortagesubject"
  }) }}
{% endblock %}

{#-----MAIN CONTENT BELOW-----#}
{% block content %}

{#-----CREATE GRID TO HOLD OUR CONTENT IN 2/3 OF THE PAGE-----#}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {#-----HEADER TEXT-----#}
    <h1 class="govuk-heading-xl">
      You told us that you have the following shortage
    </h1>

    {#-----EXPLANATORY TEXT FOR OUR QUESTION-----
    <p class="govuk-body">
    Please check the details in the table below and if anything isn't correct you can go back and change it. If you're happy with what you've told us, click Continue.
    </p>
    #}



    {#-----TABLE COMPONENT-----#}
    {{ govukTable({
      caption: "",
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: true,
      head: [
        {
          text: "Item"
        },
        {
          text: "Subject"
        }
      ],
      rows: [
        [
          {
            text: "Mentor"
          },
          {
            text: "History"
          }
        ],
        [
          {
            text: "Mentor"
          },
          {
            text: "Geography"
          }
        ],
                [
          {
            text: "Trainee"
          },
          {
            text: "Mathematics"
          }
        ],
        [
          {
            text: "Trainee"
          },
          {
            text: "Physics"
          }
        ]
      ]
    }) }}

    {#-----CONTINUE BUTTON-----#}
    {{ govukButton({
      text: "Continue",
      href: "/data-report/surplusquestion"
    }) }}

  </div>
</div>

{% endblock %}
