{% extends "layouts/main.njk" %}

{% set hidePrimaryNavigation = true %}
{% set hideOrganisationSwitcher = true %}

{% set pageTitle = "Do you have a surplus of any resources?" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/data-report/shortage"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukRadios({
      name: "template-question",
      fieldset: {
        legend: {
          text: "Do you have a surplus of any resources?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: "For example too many history mentors."
      },
      items: [
        {
          value: "trainees",
          text: "Trainees"
        },
        {
          value: "mentors",
          text: "Mentors"
        },
        {
          value: "none",
          text: "None"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue",
      href: "/data-report/surplus-subject"
    }) }}

  </div>
</div>

{% endblock %}
