{% extends "layouts/main.njk" %}

{% set hidePrimaryNavigation = true %}
{% set hideOrganisationSwitcher = true %}

{% set pageTitle = "What subjects does this surplus apply to?" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/data-report/surplusquestion"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukCheckboxes({
      idPrefix: "subject",
      name: "filter[subject]",
      fieldset: {
        legend: {
          text: "What subjects does this surplus apply to?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: "Select all that apply"
      },
      errorMessage: errors | getErrorMessage("subject"),
      items: subjectOptions
    }) }}
    {{ govukButton({
      text: "Continue",
      href: "/data-report/surplus"
    }) }}

  </div>
</div>

{% endblock %}
