{% extends "layouts/main.njk" %}

{% set hidePrimaryNavigation = true %}
{% set hideOrganisationSwitcher = true %}

{#-----PAGE TITLE-----#}
{% set pageTitle = "Question Title" %}

{#-----BACK LINK-----#}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/data-report/shortage"
  }) }}
{% endblock %}

{#-----MAIN CONTENT BELOW-----#}
{% block content %}

{#-----CREATE GRID TO HOLD OUR CONTENT IN 2/3 OF THE PAGE-----#}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {#-----HEADER TEXT-----#}
    <h1 class="govuk-heading-xl">
      Do you have a surplus of any resources?
    </h1>

    {#-----EXPLANATORY TEXT FOR OUR QUESTION-----#}
    <p class="govuk-body">
    For example too many history mentors.
    </p>

    {#-----RADIO CONTROL-----#}
    {{ govukRadios({
      name: "template-question",
      fieldset: {
        legend: {
          text: "We have a surplus of",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "trainees",
          text: "Trainees"
        },
        {
          value: "mentors",
          text: "Mentors"
        },
        {
          value: "none",
          text: "None"
        }
      ]
    }) }}

    {#-----CONTINUE BUTTON-----#}
    {{ govukButton({
      text: "Continue",
      href: "/data-report/surplussubject"
    }) }}

  </div>
</div>

{% endblock %}
