{% extends "layouts/main.njk" %}

{% set hidePrimaryNavigation = true %}
{% set hideOrganisationSwitcher = true %}

{% set title = "You told us that you have the following surplus" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/data-report/surplussubject"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "_includes/page-heading.njk" %}

    {{ govukTable({
      caption: "",
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: true,
      head: [
        {
          text: "Item"
        },
        {
          text: "Subject"
        }
      ],
      rows: [
        [
          {
            text: "Mentor"
          },
          {
            text: "History"
          }
        ],
        [
          {
            text: "Mentor"
          },
          {
            text: "Geography"
          }
        ],
                [
          {
            text: "Trainee"
          },
          {
            text: "Mathematics"
          }
        ],
        [
          {
            text: "Trainee"
          },
          {
            text: "Physics"
          }
        ]
      ]
    }) }}

    {{ govukButton({
      text: "Continue",
      href: "/data-report/primarysubjectsdifficulty"
    }) }}

  </div>
</div>

{% endblock %}
