{% extends "layouts/main.njk" %}

{% set primaryNavId = "settings" %}

{% set title = "Organisation details" %}

{% block beforeContent %}
{# {{ govukBackLink({
  text: "Back",
  href: actions.back
}) }} #}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "_includes/page-heading.njk" %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Organisation name"
            },
            value: {
              text: organisation.name
            }
          },
          {
            key: {
              text: "UK provider reference number (UKPRN)"
            },
            value: {
              text: organisation.ukprn if organisation.ukprn else "Not entered",
              classes: "govuk-hint" if not organisation.ukprn
            },
            actions: {
              items: [
                {
                  href: actions.change + "/edit",
                  text: "Change",
                  visuallyHiddenText: "UK provider reference number (UKPRN)"
                }
              ]
            } if 1==0
          },
          {
            key: {
              text: "Unique reference number (URN)"
            },
            value: {
              text: organisation.urn if organisation.urn else "Not entered",
              classes: "govuk-hint" if not organisation.urn
            },
            actions: {
              items: [
                {
                  href: actions.change + "/edit",
                  text: "Change",
                  visuallyHiddenText: "unique reference number (URN)"
                }
              ]
            } if 1==0
          },
          {
            key: {
              text: "Group"
            },
            value: {
              text: organisation.establishmentGroup | getEstablishmentGroupLabel if organisation.establishmentGroup else "Not entered",
              classes: "govuk-hint" if not organisation.establishmentGroup
            },
            actions: {
              items: [
                {
                  href: actions.change + "/edit",
                  text: "Change",
                  visuallyHiddenText: "establishment group"
                }
              ]
            }
          },
          {
            key: {
              text: "Type"
            },
            value: {
              text: organisation.establishmentType | getEstablishmentTypeLabel if organisation.establishmentType else "Not entered",
              classes: "govuk-hint" if not organisation.establishmentType
            },
            actions: {
              items: [
                {
                  href: actions.change + "/edit",
                  text: "Change",
                  visuallyHiddenText: "establishment type"
                }
              ]
            }
          },
          {
            key: {
              text: "Status"
            },
            value: {
              text: organisation.establishmentStatus | getEstablishmentStatusLabel if organisation.establishmentStatus else "Not entered",
              classes: "govuk-hint" if not organisation.establishmentStatus
            },
            actions: {
              items: [
                {
                  href: actions.change + "/edit",
                  text: "Change",
                  visuallyHiddenText: "establishment status"
                }
              ]
            }
          } if 1==0,
          {
            key: {
              text: "Phase"
            },
            value: {
              text: organisation.establishmentPhase | getEstablishmentPhaseLabel if organisation.establishmentPhase else "Not entered",
              classes: "govuk-hint" if not organisation.establishmentPhase
            },
            actions: {
              items: [
                {
                  href: actions.change + "/edit",
                  text: "Change",
                  visuallyHiddenText: "establishment phase"
                }
              ]
            }
          },
          {
            key: {
              text: "Gender"
            },
            value: {
              text: organisation.gender | getGenderLabel if organisation.gender else "Not entered",
              classes: "govuk-hint" if not organisation.gender
            },
            actions: {
              items: [
                {
                  href: actions.change + "/edit",
                  text: "Change",
                  visuallyHiddenText: "gender"
                }
              ]
            }
          },
          {
            key: {
              text: "Minimum age"
            },
            value: {
              text: organisation.minAge if organisation.minAge else "Not entered",
              classes: "govuk-hint" if not organisation.minAge
            },
            actions: {
              items: [
                {
                  href: actions.change + "/edit",
                  text: "Change",
                  visuallyHiddenText: "minimum age"
                }
              ]
            }
          },
          {
            key: {
              text: "Maximum age"
            },
            value: {
              text: organisation.maxAge if organisation.maxAge else "Not entered",
              classes: "govuk-hint" if not organisation.maxAge
            },
            actions: {
              items: [
                {
                  href: actions.change + "/edit",
                  text: "Change",
                  visuallyHiddenText: "maximum age"
                }
              ]
            }
          },
          {
            key: {
              text: "Six form"
            },
            value: {
              text: organisation.officialSixthForm | getOfficialSixthFormLabel if organisation.officialSixthForm else "Not entered",
              classes: "govuk-hint" if not organisation.officialSixthForm
            },
            actions: {
              items: [
                {
                  href: actions.change + "/edit",
                  text: "Change",
                  visuallyHiddenText: "six form"
                }
              ]
            }
          },
          {
            key: {
              text: "Nursery provision"
            },
            value: {
              text: organisation.nurseryProvision | getNurseryProvisionLabel if organisation.nurseryProvision else "Not entered",
              classes: "govuk-hint" if not organisation.nurseryProvision
            },
            actions: {
              items: [
                {
                  href: actions.change + "/edit",
                  text: "Change",
                  visuallyHiddenText: "nursery provision"
                }
              ]
            }
          },
          {
            key: {
              text: "Religious character"
            },
            value: {
              text: organisation.religiousCharacter | getReligiousCharacterLabel if organisation.religiousCharacter else "Not entered",
              classes: "govuk-hint" if not organisation.religiousCharacter
            },
            actions: {
              items: [
                {
                  href: actions.change + "/edit",
                  text: "Change",
                  visuallyHiddenText: "religious character"
                }
              ]
            }
          },
          {
            key: {
              text: "Admissions policy"
            },
            value: {
              text: organisation.admissionsPolicy | getAdmissionsPolicyLabel if organisation.admissionsPolicy else "Not entered",
              classes: "govuk-hint" if not organisation.admissionsPolicy
            },
            actions: {
              items: [
                {
                  href: actions.change + "/edit",
                  text: "Change",
                  visuallyHiddenText: "admissions policy"
                }
              ]
            }
          },
          {
            key: {
              text: "Urban or rural"
            },
            value: {
              text: organisation.urbanRural | getUrbanRuralLabel if organisation.urbanRural else "Not entered",
              classes: "govuk-hint" if not organisation.urbanRural
            },
            actions: {
              items: [
                {
                  href: actions.change + "/edit",
                  text: "Change",
                  visuallyHiddenText: "urban or rural"
                }
              ]
            }
          },
          {
            key: {
              text: "School capacity"
            },
            value: {
              text: organisation.schoolCapacity | numeral('0,0') if organisation.schoolCapacity else "Not entered",
              classes: "govuk-hint" if not organisation.schoolCapacity
            },
            actions: {
              items: [
                {
                  href: actions.change + "/edit",
                  text: "Change",
                  visuallyHiddenText: "school capacity"
                }
              ]
            }
          },
          {
            key: {
              text: "Total pupils"
            },
            value: {
              text: organisation.totalPupils | numeral('0,0') if organisation.totalPupils else "Not entered",
              classes: "govuk-hint" if not organisation.totalPupils
            },
            actions: {
              items: [
                {
                  href: actions.change + "/edit",
                  text: "Change",
                  visuallyHiddenText: "total pupils"
                }
              ]
            }
          },
          {
            key: {
              text: "Total boys"
            },
            value: {
              text: organisation.totalBoys | numeral('0,0') if organisation.totalBoys else "Not entered",
              classes: "govuk-hint" if not organisation.totalBoys
            },
            actions: {
              items: [
                {
                  href: actions.change + "/edit",
                  text: "Change",
                  visuallyHiddenText: "total boys"
                }
              ]
            }
          },
          {
            key: {
              text: "Total girls"
            },
            value: {
              text: organisation.totalGirls | numeral('0,0') if organisation.totalGirls else "Not entered",
              classes: "govuk-hint" if not organisation.totalGirls
            },
            actions: {
              items: [
                {
                  href: actions.change + "/edit",
                  text: "Change",
                  visuallyHiddenText: "total girls"
                }
              ]
            }
          },
          {
            key: {
              text: "Percentage free school meals"
            },
            value: {
              text: organisation.percentageFreeSchoolMeals | numeral('0,0') + "%" if organisation.percentageFreeSchoolMeals else "Not entered",
              classes: "govuk-hint" if not organisation.percentageFreeSchoolMeals
            },
            actions: {
              items: [
                {
                  href: actions.change + "/edit",
                  text: "Change",
                  visuallyHiddenText: "total girls"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-9">Special educational needs and disabilities (SEND)</h2>

      {% set sendHtml %}
        {% if organisation.send %}
          <ul class="govuk-list">
            {% for send in organisation.send %}
              <li>
                {{ send }}
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <p class="govuk-hint">
            Not entered
          </p>
        {% endif %}
      {% endset %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Special classes"
            },
            value: {
              text: organisation.specialClasses | getSpecialClassesLabel if organisation.specialClasses else "Not entered",
              classes: "govuk-hint" if not organisation.specialClasses
            },
            actions: {
              items: [
                {
                  href: actions.change + "/edit",
                  text: "Change",
                  visuallyHiddenText: "special classes"
                }
              ]
            }
          },
          {
            key: {
              html: '<abbr title="Special educational needs and disability">SEND</abbr> provision'
            },
            value: {
              html: sendHtml
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "SEND provision"
                }
              ]
            }
          },
          {
            key: {
              text: "Training with disabilities"
            },
            value: {
              text: organisation.trainingWithDisabilities if organisation.trainingWithDisabilities else "Not entered",
              classes: "govuk-hint" if not organisation.trainingWithDisabilities
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "training with disabilities"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-9">Ofsted</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Rating"
            },
            value: {
              text: organisation.ofsted.rating | getOfstedRatingLabel if organisation.ofsted.rating else "Unknown",
              classes: "govuk-hint" if not organisation.ofsted.rating
            }
          },
          {
            key: {
              text: "Last inspection date"
            },
            value: {
              text: organisation.ofsted.lastInspectionDate | datetime('dd LLLL yyyy') if organisation.ofsted.lastInspectionDate else "Unknown",
              classes: "govuk-hint" if not organisation.ofsted.lastInspectionDate
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-9">Contact details</h2>

      {% set addressHtml %}
        {% if organisation.address.addressLine1.length %}
          {{ organisation.address.addressLine1 }}<br>
        {% endif %}
        {% if organisation.address.addressLine2.length %}
          {{ organisation.address.addressLine2 }}<br>
        {% endif %}
        {% if organisation.address.addressLine3.length %}
          {{ organisation.address.addressLine3 }}<br>
        {% endif %}
        {% if organisation.address.town.length %}
          {{ organisation.address.town }}<br>
        {% endif %}
        {% if organisation.address.county.length %}
          {{ organisation.address.county }}<br>
        {% endif %}
        {% if organisation.address.postcode.length %}
          {{ organisation.address.postcode }}<br>
        {% endif %}
      {% endset %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Email address"
            },
            value: {
              text: (organisation.contact.email | urlize | safe) if organisation.contact.email.length else "Not entered",
              classes: "govuk-hint" if not organisation.contact.email.length
            },
            actions: {
              items: [
                {
                  href: actions.change + "/contact-details",
                  text: "Change",
                  visuallyHiddenText: "email address"
                }
              ]
            } if 1==0
          },
          {
            key: {
              text: "Telephone number"
            },
            value: {
              text: organisation.contact.telephone if organisation.contact.telephone.length else "Not entered",
              classes: "govuk-hint" if not organisation.contact.telephone.length
            },
            actions: {
              items: [
                {
                  href: actions.change + "/contact-details",
                  text: "Change",
                  visuallyHiddenText: "telephone number"
                }
              ]
            } if 1==0
          },
          {
            key: {
              text: "Website"
            },
            value: {
              text: (organisation.contact.website | urlize | safe) if organisation.contact.website.length else "Not entered",
              classes: "govuk-hint" if not organisation.contact.website.length
            },
            actions: {
              items: [
                {
                  href: actions.change + "/contact-details",
                  text: "Change",
                  visuallyHiddenText: "website"
                }
              ]
            } if 1==0
          },
          {
            key: {
              text: "Address"
            },
            value: {
              html: ('<p class="govuk-body">' + addressHtml + '</p>') if addressHtml | trim | length else "Not entered",
              classes: "govuk-hint" if not addressHtml | trim | length
            },
            actions: {
              items: [
                {
                  href: actions.change + "/contact-details",
                  text: "Change",
                  visuallyHiddenText: "website"
                }
              ]
            } if 1==0
          }
        ]
      }) }}

    </div>
  </div>

  {# <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m govuk-!-margin-top-2">About your organisation</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Training with your organisation"
            },
            value: {
              html: (organisation.trainWithUs | nl2br | markdownToHtml | safe) if organisation.trainWithUs.length else "Not entered",
              classes: "govuk-hint" if not organisation.trainWithUs.length
            },
            actions: {
              items: [
                {
                  href: actions.change + "/training",
                  text: "Change",
                  visuallyHiddenText: "information about training with your organisation"
                }
              ]
            }
          } if 1==0,
          {
            key: {
              text: "Training with disabilities and other needs"
            },
            value: {
              html: (organisation.trainWithDisability | nl2br | markdownToHtml | safe) if organisation.trainWithDisability.length else "Not entered",
              classes: "govuk-hint" if not organisation.trainWithDisability.length
            },
            actions: {
              items: [
                {
                  href: actions.change + "/training-with-disabilities",
                  text: "Change",
                  visuallyHiddenText: "information about training with disabilities and other needs"
                }
              ]
            }
          }
        ]
      }) }}
    </div>
  </div> #}

{% endblock %}
