{% extends "layouts/main.njk" %}

{% set title = "School placements" %}

{% block content %}

  {% include "_includes/notification-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "_includes/page-heading.njk" %}

      {{ govukButton({
        text: "Add placement",
        href: actions.new
      }) }}

      {% if placements.length %}

        <table class="govuk-table app-table--vertical-align-middle">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Subject</th>
              <th class="govuk-table__header">Age range</th>
              <th class="govuk-table__header">Class size</th>
              <th class="govuk-table__header">&nbsp;</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">

            {% for placement in placements %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell app-table--courses__course-name">
                  <ul class="govuk-list">
                    {% for subject in placement.subjects %}
                      <li>
                        {{ subject | getSubjectLabel }}
                      </li>
                    {% endfor %}
                  </ul>
                </td>
                <td class="govuk-table__cell">
                  {{ placement.ageRange | getAgeRangeLabel }}
                </td>
                <td class="govuk-table__cell">
                  {{ placement.classSize }}
                </td>
                <td class="govuk-table__cell">
                  <a href="{{ actions.view }}/{{ placement.id }}" class="govuk-link">View placement</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>

        </table>

      {% else %}
        <p class="govuk-body">There are no courses for {{ provider.name if provider.name else "your organisation" }}.</p>
      {% endif %}


    </div>
  </div>

{% endblock %}
