{% extends "layouts/main.njk" %}

{% set title = "School placements" %}

{% block content %}

  {% include "_includes/notification-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "_includes/page-heading.njk" %}

      {{ govukButton({
        text: "Add placement",
        href: actions.new
      }) }}


    </div>
  </div>

{% endblock %}
