{% extends "layouts/publish.njk" %}

{% set primaryNavId = "placements" %}

{% set title = "School placement" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "_includes/page-heading.njk" %}

      {% set keyStageHtml %}
        <ul class="govuk-list">
          {% for keyStage in placement.keyStage %}
            <li>
              {{ keyStage | getKeyStageLabel }}
            </li>
          {% endfor %}
        </ul>
      {% endset %}

      {% set trainingPatternHtml %}
        <ul class="govuk-list">
          {% for pattern in placement.trainingPattern %}
            <li>
              {{ pattern | capitalize }}
            </li>
          {% endfor %}
        </ul>
      {% endset %}

      {% set mentorHtml %}
        <ul class="govuk-list">
          {% for mentor in placement.mentor %}
            <li>
              {{ mentor | getMentorLabel }}
            </li>
          {% endfor %}
        </ul>
      {% endset %}

      {% set mentorAvailabilityHtml %}
        <ul class="govuk-list">
          {% for availability in placement.mentorAvailability %}
            <li>
              {{ availability | capitalize }}
            </li>
          {% endfor %}
        </ul>
      {% endset %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Subject level"
            },
            value: {
              text: placement.subjectLevel | getSubjectLevelLabel
            },
            actions: {
              items: [
                {
                  href: actions.change + "/subject-level?referrer=change",
                  text: "Change",
                  visuallyHiddenText: "subject level"
                }
              ]
            } if 1==0
          },
          {
            key: {
              text: "Subject"
            },
            value: {
              text: placement.subject | getSubjectLabel
            },
            actions: {
              items: [
                {
                  href: actions.change + "/subject?referrer=change",
                  text: "Change",
                  visuallyHiddenText: "subject"
                }
              ]
            }
          },
          {
            key: {
              text: "Age range"
            },
            value: {
              text: placement.ageRange | getAgeRangeLabel
            },
            actions: {
              items: [
                {
                  href:actions.change + "/age-range?referrer=change",
                  text: "Change",
                  visuallyHiddenText: "age range"
                }
              ]
            }
          },
          {
            key: {
              text: "Key stage"
            },
            value: {
              html: keyStageHtml
            },
            actions: {
              items: [
                {
                  href:actions.change + "/key-stage?referrer=change",
                  text: "Change",
                  visuallyHiddenText: "key stage"
                }
              ]
            }
          },
          {
            key: {
              text: "Class size"
            },
            value: {
              text: placement.classSize
            },
            actions: {
              items: [
                {
                  href: actions.change + "/class-size?referrer=change",
                  text: "Change",
                  visuallyHiddenText: "class size"
                }
              ]
            }
          } if 1==0,
          {
            key: {
              text: "Training pattern"
            },
            value: {
              html: trainingPatternHtml
            },
            actions: {
              items: [
                {
                  href: actions.change + "/training-pattern?referrer=change",
                  text: "Change",
                  visuallyHiddenText: "training pattern"
                }
              ]
            }
          } if 1==0,
          {
            key: {
              text: "Mentor" + ("s" if placement.mentor.length > 1)
            },
            value: {
              html: mentorHtml
            },
            actions: {
              items: [
                {
                  href: actions.change + "/mentor?referrer=change",
                  text: "Change",
                  visuallyHiddenText: "mentor"
                }
              ]
            }
          },
          {
            key: {
              text: "Mentor availability"
            },
            value: {
              html: mentorAvailabilityHtml
            },
            actions: {
              items: [
                {
                  href: actions.change + "/mentor-availability?referrer=change",
                  text: "Change",
                  visuallyHiddenText: "mentor availability"
                }
              ]
            }
          }
        ]
      }) }}

      <p class="govuk-body">
        <a class="govuk-link app-link--destructive" href="{{ actions.delete }}">Delete placement</a>
      </p>

    </div>
  </div>

{% endblock %}
