{% extends "layouts/main.njk" %}

{#-----IMPORT FORM COMPONENTS WE NEED-----#}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}


{#-----PAGE TITLE-----#}
{% set pageTitle = "Challenges Managing ITT" %}

{#-----BACK LINK-----#}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/datareport/"
  }) }}
{% endblock %}

{#-----MAIN CONTENT BELOW-----#}
{% block content %}

{#-----CREATE GRID TO HOLD OUR CONTENT IN 2/3 OF THE PAGE-----#}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {#-----HEADER TEXT-----
    <h1 class="govuk-heading-xl">
      Question Title
    </h1>
    #}

    {#-----EXPLANATORY TEXT FOR OUR QUESTION-----
    <p class="govuk-body">
    TEXT HERE
    </p>
    #}

    {#-----CHECKBOXES OF REASONS FOR NON PARTICIPATION-----#}
    {{ govukCheckboxes({
      name: "ittmanagementchallenges",
      fieldset: {
        legend: {
          text: "In your opinion what are the challenges in your area in terms of managing ITT?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: "Select all that apply."
      },
      items: [
        {
          value: "school-awareness",
          text: "School awareness"
        },
        {
          value: "funding",
          text: "Funding"
        },
        {
          value: "mentor-availability",
          text: "Mentor availability"
        },
        {
          value: "departmental-capacity",
          text: "Departmental capacity"
        },
        {
          value: "ofsted-rating",
          text: "OFSTED rating"
        },
        {
          value: "geography",
          text: "Geography"
        },
        {
          value: "other",
          text: "Other"
        }
      ]
    }) }}

    {#-----TEXTAREA IF OTHER SELECTED-----#}
    {{ govukTextarea({
      name: "nonparticipation-other-detail",
      id: "nonparticipation-other-detail",
      label: {
        text: "Please you provide more detail about the OTHER reasons if you selected this?",
        classes: "govuk-label--m",
        isPageHeading: false
      },
      hint: {
        text: "Do not include personal or financial information, like your National Insurance number or credit card details."
      }
    }) }}

    {#-----CONTINUE BUTTON-----#}
    {{ govukButton({
      text: "Continue",
      href: "/datareport/"
    }) }}

  </div>
</div>

{% endblock %}
