<div class="govuk-button-group">
  {{ govukButton({
    text: "Action A",
    href: "#",
    classes: "govuk-!-margin-right-2"
  }) }}

  {# {{ govukButton({
    text: "Action B",
    href: "#",
    classes: "govuk-button--secondary govuk-!-margin-right-2"
  }) }} #}

  <a class="govuk-link app-link--destructive" href="{{ actions.delete }}">Remove mentor</a>
</div>
