{% extends "layouts/main.njk" %}

{% set primaryNavId = "mentors" %}
{% set secondaryNavId = "details" %}

{% set title = mentor.firstName + " " + mentor.lastName %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/notification-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "./_page-heading.njk" %}

      {% include "./_meta-data.njk" %}

      {# {% include "./_actions.njk" %} #}

    </div>
  </div>


  {# <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "./_sub-navigation.njk" %}

    </div>
  </div> #}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set subjectHtml %}
        <ul class="govuk-list">
          {% for subject in mentor.subjects %}
            <li>
              {{ subject | getSubjectLabel }}
            </li>
          {% endfor %}
        </ul>
      {% endset %}

      {% set ageRangeHtml %}
        <ul class="govuk-list">
          {% for ageRange in mentor.ageRanges %}
            <li>
              {{ ageRange | getAgeRangeLabel }}
            </li>
          {% endfor %}
        </ul>
      {% endset %}

      {% set keyStageHtml %}
        <ul class="govuk-list">
          {% for keyStage in mentor.keyStages %}
            <li>
              {{ keyStage | getKeyStageLabel }}
            </li>
          {% endfor %}
        </ul>
      {% endset %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "First name"
            },
            value: {
              text: mentor.firstName
            },
            actions: {
              items: [
                {
                  href: actions.change + "/edit?referrer=change",
                  text: "Change",
                  visuallyHiddenText: "first name"
                }
              ]
            }
          },
          {
            key: {
              text: "Last name"
            },
            value: {
              text: mentor.lastName
            },
            actions: {
              items: [
                {
                  href: actions.change + "/edit?referrer=change",
                  text: "Change",
                  visuallyHiddenText: "last name"
                }
              ]
            }
          },
          {
            key: {
              text: "Teacher reference number (TRN)"
            },
            value: {
              text: mentor.trn
            },
            actions: {
              items: [
                {
                  href: actions.change + "/edit?referrer=change",
                  text: "Change",
                  visuallyHiddenText: "teacher reference number (TRN)"
                }
              ]
            }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              text: mentor.email
            },
            actions: {
              items: [
                {
                  href: actions.change + "/edit?referrer=change",
                  text: "Change",
                  visuallyHiddenText: "email address"
                }
              ]
            }
          },
          {
              key: {
                text: "Subject" + ("s" if mentor.subjects.length > 1)
              },
              value: {
                html: subjectHtml
              },
              actions: {
                items: [
                  {
                    href: actions.change + "/subject?referrer=change",
                    text: "Change",
                    visuallyHiddenText: "subject"
                  }
                ]
              }
            },
            {
              key: {
                text: "Age range" + ("s" if mentor.ageRanges.length > 1)
              },
              value: {
                html: ageRangeHtml
              },
              actions: {
                items: [
                  {
                    href: actions.change + "/age-range?referrer=change",
                    text: "Change",
                    visuallyHiddenText: "age range"
                  }
                ]
              }
            },
            {
              key: {
                text: "Key stage" + ("s" if mentor.keyStages.length > 1)
              },
              value: {
                html: keyStageHtml
              },
              actions: {
                items: [
                  {
                    href: actions.change + "/key-stage?referrer=change",
                    text: "Change",
                    visuallyHiddenText: "key stage"
                  }
                ]
              }
            }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-9">
        Additional details
      </h2>

      {% set providerHtml %}
        {% if mentor.providers %}
          <ul class="govuk-list">
            {% for provider in mentor.providers %}
              <li>
                {{ provider | getOrganisationName }}
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <p class="govuk-hint">
            Not entered
          </p>
        {% endif %}
      {% endset %}

      {% set qualificationsHtml %}
        {% if mentor.qualifications %}
          <ul class="govuk-list">
            {% for qualification in mentor.qualifications %}
              <li>
                {{ qualification | getQualificationLabel }}
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <p class="govuk-hint">
            Not entered
          </p>
        {% endif %}

      {% endset %}

      {% set sendHtml %}
        {% if mentor.send %}
          <ul class="govuk-list">
            {% for send in mentor.send %}
              <li>
                {{ send | getSENDProvisionLabel }}
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <p class="govuk-hint">
            Not entered
          </p>
        {% endif %}
      {% endset %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Date qualified as a teacher"
            },
            value: {
              text: mentor.dateQualified | datetime('dd LLLL yyyy') if mentor.dateQualified else "Not entered",
              classes: "govuk-hint" if not mentor.dateQualified
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "date qualified as a teacher"
                }
              ]
            }
          },
          {
            key: {
              text: "Qualifications"
            },
            value: {
              html: qualificationsHtml
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "qualifications"
                }
              ]
            }
          },
          {
            key: {
              text: "Date started mentoring"
            },
            value: {
              text: mentor.dateStartedMentoring | datetime('dd LLLL yyyy') if mentor.dateStartedMentoring else "Not entered",
              classes: "govuk-hint" if not mentor.dateQualified
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "date started as a mentor"
                }
              ]
            }
          },
          {
            key: {
              text: "Provider training"
            },
            value: {
              html: providerHtml
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "provider training"
                }
              ]
            }
          },
          {
            key: {
              html: '<abbr title="Special educational needs and disability">SEND</abbr> training'
            },
            value: {
              html: sendHtml
            },
            actions: {
              items: [
                {
                  href: actions.change + "/send-training",
                  text: "Change",
                  visuallyHiddenText: "SEND training"
                }
              ]
            }
          },
          {
            key: {
              text: "Subject networks and associations"
            },
            value: {
              text: mentor.subjectNetworksAndAssociations if mentor.subjectNetworksAndAssociations.length else "Not entered",
              classes: "govuk-hint" if not mentor.subjectNetworksAndAssociations.length
            },
            actions: {
              items: [
                {
                  href: actions.change + "/networks-and-associations",
                  text: "Change",
                  visuallyHiddenText: "subject networks and associations"
                }
              ]
            }
          },
          {
            key: {
              text: "Other experiences"
            },
            value: {
              text: mentor.otherExperiences if mentor.otherExperiences.length else "Not entered",
              classes: "govuk-hint" if not mentor.otherExperiences.length
            },
            actions: {
              items: [
                {
                  href: actions.change + "/other-experiences",
                  text: "Change",
                  visuallyHiddenText: "other experiences"
                }
              ]
            }
          }
        ]
      }) }}

      <p class="govuk-body">
        <a class="govuk-link app-link--destructive" href="{{ actions.delete }}">Remove mentor</a>
      </p>

    </div>
  </div>

{% endblock %}
