{% extends "layouts/main.njk" %}

{% set primaryNavId = "mentors" %}

{% set title = "Mentors" %}

{% block content %}

  {% include "_includes/notification-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "_includes/page-heading.njk" %}

      {% if organisation.type == "school" %}
        {{ govukButton({
          text: "Add mentor",
          href: actions.new
        }) }}
      {% else %}
        {{ govukButton({
          text: "Find mentors",
          href: actions.find
        }) }}
      {% endif %}

    </div>
  </div>

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        {% if mentors.length %}

          <table class="govuk-table app-table--vertical-align-middle">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header">Mentor</th>
                <th class="govuk-table__header">Subject</th>
                <th class="govuk-table__header">Age range</th>
                <th class="govuk-table__header">Key stage</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">

              {% for mentor in mentors %}

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <a class="govuk-link govuk-heading-s govuk-!-margin-bottom-0" href="{{ actions.view }}/{{ mentor.id }}">
                      {{ mentor.firstName }} {{ mentor.lastName }}
                    </a>
                    <span class="govuk-hint govuk-!-font-size-16">
                      <abbr title="Teacher reference number">TRN</abbr>: {{ mentor.trn }}
                    </span>
                  </td>
                  <td class="govuk-table__cell">
                    <ul class="govuk-list">
                      {% for subject in mentor.subjects %}
                        <li>
                          {{ subject | getSubjectLabel }}
                        </li>
                      {% endfor %}
                    </ul>
                  </td>
                  <td class="govuk-table__cell">
                    <ul class="govuk-list">
                      {% for ageRange in mentor.ageRanges %}
                        <li>
                          {{ ageRange | getAgeRangeLabel }}
                        </li>
                      {% endfor %}
                    </ul>
                  </td>
                  <td class="govuk-table__cell">
                    <ul class="govuk-list">
                      {% for keyStage in mentor.keyStages %}
                        <li>
                          {{ keyStage | getKeyStageLabel }}
                        </li>
                      {% endfor %}
                    </ul>
                  </td>
                </tr>

              {% endfor %}
            </tbody>

          </table>

        {% else %}
          <p class="govuk-body">There are no mentors for {{ organisation.name if organisation.name else "your organisation" }}.</p>
        {% endif %}
      </div>
    </div>

{% endblock %}

{% block pageScripts %}

{% endblock %}
