{% extends "layouts/auth.njk" %}

{% set pageTitle = "Experiments" %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{ pageTitle }}
    </h1>

    <ul class="govuk-list govuk-list--spaced">
      <li>
        <a href="/organisations/XXX/placements" class="govuk-link">
          Finding and posting school placements
        </a>
      </li>
      <li>
        <a href="#" class="govuk-link">
          Reporting surplus and shortages in the local area
        </a>
      </li>
      <li>
        <a href="/find/organisations/55f80539-97c3-4646-9300-8d852f67d8d4/mentors" class="govuk-link">
          Finding mentors – Higher education institution (HEI)
        </a>
      </li>
      <li>
        <a href="#" class="govuk-link">
          Managing mentors – School
        </a>
      </li>
      <li>
        <a href="#" class="govuk-link">
          Content as a service
        </a>
      </li>
      <li>
        <a href="#" class="govuk-link">
          Showing equity of placements – School and mentor information
        </a>
      </li>
      <li>
        <a href="#" class="govuk-link">
          Registering as a mentor
        </a>
      </li>
      <li>
        <a href="#" class="govuk-link">
          Managing my mentor profile
        </a>
      </li>
      <li>
        <a href="#" class="govuk-link">
          Managing my organisation - contrast factors
        </a>
      </li>
    </ul>

  </div>
</div>

{% endblock %}
