{% extends "layouts/main.njk" %}

{% set pageTitle = "Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {# <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1> #}

    <ul class="govuk-list govuk-list--spaced">
      <li>
        <a href="/organisations/bab3ec36-ed17-4f2f-a16e-fbd1a4b2e902/placements" class="govuk-link">Publish a placement</a>
      </li>
      <li>
        <a href="/search" class="govuk-link">Find a placement</a>
      </li>
    </ul>


  </div>
</div>

{% endblock %}
