{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% from "_components/checkbox-filter/macro.njk" import appCheckboxFilter %}
{% from "_components/footer/macro.njk" import appFooter %}
{% from "_components/mentor-result-detail/macro.njk" import appMentorResultDetail %}
{% from "_components/organisation-actions/macro.njk" import appOrganisationActions %}
{% from "_components/pagination/macro.njk" import appPagination %}
{% from "_components/primary-navigation/macro.njk" import appPrimaryNavigation %}
{% from "_components/search/macro.njk" import appSearch %}

{% block pageTitle %}
  {{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block head %}
  {% include "_includes/head.njk" %}
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    productName: serviceName,
    containerClasses: "govuk-width-container",
    navigationClasses: "govuk-header__navigation--end",
    navigation: [
      {
        href: "/account",
        text: "Your account",
        active: headerNavId == "account"
      },
      {
        href: "/sign-out",
        text: "Sign out"
      }
    ]
  }) }}

  {{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="/feedback">feedback</a> will help us to improve it.',
    classes: "govuk-width-container" + (" govuk-phase-banner--no-border-bottom" if passport.user.organisations.length == 1 and headerNavId != "account")
  }) }}

  {% if passport.user.organisations.length > 1 %}
    {% set organisationHtml %}
      {{ passport.organisation.name }}
    {% endset %}
    {# {% if not hideOrganisationSwitcher %} #}
      {{ appOrganisationActions({
        html: organisationHtml,
        actions: {
          items: [
            {
              text: "Change organisation",
              href: "/organisations"
            }
          ]
        },
        classes: "govuk-width-container"
      }) }}
    {# {% endif %} #}
  {% endif %}

  {{ appPrimaryNavigation({
    items: [
      {
        href: baseUrl + "/mentors",
        text: "Find mentors",
        active: primaryNavId == "mentors"
      },
      {
        href: baseUrl + "#",
        text: "Users",
        active: primaryNavId == "users"
      },
      {
        href: baseUrl + "/show",
        text: "Organisation details",
        active: primaryNavId == "settings"
      }
    ]
  }) }}
{% endblock %}

{% block footer %}
  {% include "_includes/footer.njk" %}
{% endblock %}
